@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-weight: 500;
    width: 100%;
}

#ip_search{
    cursor: pointer;;
}

.header{
    background-image: url("images/pattern-bg-desktop.png");
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 3rem;
    height: 215px;
    position: relative;
    z-index: 1;
    h1{
        margin:0px;
        padding: 2rem;        
    }
}

@media (max-width:975px) {
    .header{
        h1{
            padding-top: 1rem;
            font-size: 1.7rem;
        }
    }
}



.searchButton{
    input{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border:0px;
        padding: 1rem;
        width: 14rem;
        padding-right: 15rem;
        margin: 0;
    }
    button{
        border: 0px;
        background-color: black;
        margin-left: -4px;
        padding: 1rem;
        padding-top: 0.91rem;
        /* text-align: center; */
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
}

@media (max-width:975px) {
    .searchButton{
        input{
            width: 5rem;
            padding-right: 50%;
        }
    }
}



.info_back{
    display: flex;
    width: 100%;
    justify-content: center;
}

.info{
    display: flex;
    position:absolute;
    align-items: center;
    top: 13rem;
    z-index: 2;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    .hr{
        height: 4rem;
        width: 1px;
        background-color: hsl(0, 0%, 59%);
    }
    .infoStyling{
        align-self: flex-start;
        padding-right: 3rem;
        padding-left: 2.5rem;
        color: hsl(0, 0%, 59%);
        h1{
            color: hsl(0, 0%, 17%)
        }
    }
}

@media (max-width:975px) {
    .info_back{
        width: 100%;
    }
    .info{
        flex-direction: column;
        display: block;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 0.1rem;
        width: 50%;
        top: 11rem;
        .hr{
            display: none;
        }
        .infoStyling{
            display: flex;
            flex-direction: column;
            padding-right: 0px;
            padding-left: 0px;
            p{
                margin: 0px;
                font-size: 13px;
            }
            h1{
                margin: 10px;
                font-size: 20px;
            }
        }
    }
}



#map{
    height: 50rem;
    position: relative;
    z-index: 1;
}
